
body {
  color: white;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(-45deg, darkgreen, #1f1f1f 30%);
  font-family: Arial, serif;
}

form {
  top: 5px;
  width: 300px;
}

input {
  margin-bottom: 5px;
  padding: 12px;
  width: 90%;
  border: 0;
  border-radius: 10px;
}

.inputbutton{
  padding: 12px;
  width: 30%;
  border: 0;
  border-radius: 10px;
}

button {
  padding: 10px;
  border: 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.logout{
  position: absolute;
  right: 10px;
}

.rightside{
  margin-left: 320px;
}

table{
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

fieldset{
  border-color: transparent;
}

.conferenceForm{
  position: fixed;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-left: -10px;
  margin-top: -10px;
}

th, td{
  padding-inline: 10px;
}