<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Anagrafica</title>
	<link rel="stylesheet" type="text/css" media="all"
		  href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
    <center>
		<h1>Welcome to anagrafica</h1>
		<h3 th:if="${attempt > 0}" th:text="${'Error! Too many selected users, delete at least ' + surplusGuests}"></h3>
		<h3 th:if="${attempt > 0}" th:text="${'You still have ' + attempt + ' attempts'}"></h3>

		<form action="#" th:action="@{/CheckBoxUsers}" method="POST">
		<table>
			<thead>
			<tr>
				<th>Select</th>
				<th>Name</th>
				<th>Surname</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${users}">
					<td th:if="${u.checked}"><input type="checkbox" th:name="userscheckbox" th:value="${u.id}" checked></td>
					<td th:unless="${u.checked}"><input type="checkbox" th:name="userscheckbox" th:value="${u.id}"></td>
					<td th:text="${u.name}"></td>
					<td th:text="${u.surname}"></td>
				</tr>
			</tbody>
		</table>
			<br>
			<input class="inputbutton" type="submit" name="Create Conference">
		</form>
	</center>
</body>
</html>


